module 2/MSSQL15.SQLEXPRESS/MSSQL/sql_engine_core_inst_keyfile.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/templog.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/tempdb.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/mssqlsystemresource.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/PerfCountersCollect.dtsx
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/DbEngine_hotfix_uninstall.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/DbEngine_hotfix_install.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/xpsqlbot.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/xplog70.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/xpadsi.exe
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/xmlrwbin.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/xmlrw.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/xesqlpkg.mof
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/xesqlminpkg.mof
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/xesospkg.mof
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/xepkg0.mof
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/xeclrhostpkg.mof
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/xe.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/svl.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqsrvres.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.SqlServer.XEvent.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.SqlServer.XEvent.Targets.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.SqlServer.XEvent.Linq.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.SqlServer.XEvent.Configuration.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.SqlServer.XE.Core.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.SqlServer.VdiInterface.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.SqlAutoAdmin.SqlAutoAdmin.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.SqlAutoAdmin.AutoBackupAgent.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.Diagnostics.Tracing.EventSource.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.ApplicationInsights.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.AnalysisServices.AppLocal.Xmla.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/ExaCorePredictSql.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/ExaCorePredict.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/DllTmp64/sqlctr150.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/DllTmp64/sqlagentctr150.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/DllTmp32/sqlctr150.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/DllTmp32/sqlagentctr150.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/DatabaseMailprotocols.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/DatabaseMailengine.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/DatabaseMail.exe.config
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/DatabaseMail.exe
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/DataCollectorController.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/DCEXEC.EXE
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/BackupToUrl.exe
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/AzureAttestManager.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/AzureAttest.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/xesospkg.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/xepackage0.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/xeclrhostpkg.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/sqlsvc.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/sqliosim.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/sql_engine_core_inst_loc_keyfile.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/secauditpkg.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/odsole70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/XPStar.RLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/SQLREPSS.RLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/SQLPOWERSHELLSS.RLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/SQLOLAPSS.RLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/SQLDTSSS.RLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/SQLCMDSS.RLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/SQLAgentMail.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/SQLAGENTLOG.RLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/SQLAGENT.RLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/DataCollectorController.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/DCEXEC.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1032/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1031/xplog70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1031/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1031/odsole70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1030/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1029/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1028/xplog70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1028/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1028/odsole70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/ODSOLE70.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Microsoft.WindowsAzure.Storage.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlctr.h
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlceip.exe
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlboot.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlagtctr.ini
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlagtctr.h
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlaccess.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqagtres.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/secforwarder.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/qds.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/performancecounter.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/perf-SQLAgent$SQLEXPRESSsqlagtctr.ini
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/perf-MSSQL$SQLEXPRESSsqlctr.ini
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/opends60.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/mssqlsystemresource.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/mssqlsystemresource.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/hktempdb.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/hkruntime.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/hkengine.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/hkcompile.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/hadrres.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/fssres.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/etwcnf.xml
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/etwcls.mof
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/dcexec.exe.config
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/batchparser.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/aetm-enclave.vsm.pkg/aetm-enclave.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/aetm-enclave.vsm.pkg/aetm-enclave-Simulator.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/aetm-enclave.sgx.pkg/aetm-sgx-enclave.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/aetm-enclave.sgx.pkg/aetm-sgx-enclave-Simulator.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/adalsqlrda.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/XPStar.DLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/2052/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/2052/odsole70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1055/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1053/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1049/xplog70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1049/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1049/odsole70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1046/xplog70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1046/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1046/odsole70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1045/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1044/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1043/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1042/xplog70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1042/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1042/odsole70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1041/xplog70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1041/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1041/odsole70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1040/xplog70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1040/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1040/odsole70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1038/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1036/xplog70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1036/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1036/odsole70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1035/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/xplog70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/xeucspkg.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/xesqlpkg.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/1033/xesqlminpkg.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/mssqlsystemresource.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/modellog.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/model_replicatedmaster.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/model_replicatedmaster.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/model_msdblog.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/model_msdbdata.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/model.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/mastlog.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/master.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/MSDBLog.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Template Data/MSDBData.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/xpstar.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/u_tables.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/sqlscriptdowngrade.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/sqldmo.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/procsyst.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/oledbsch.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/odsole.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/msdb110_upgrade.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/instmsdb.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/instmdw.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/TSQLQueryUpload.dtsx
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/TSQLQueryCollect.dtsx
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/SqlTraceUpload.dtsx
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/SqlTraceCollect.dtsx
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/SSIS_hotfix_uninstall.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/SSIS_hotfix_install.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/QueryActivityUpload.dtsx
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/QueryActivityCollect.dtsx
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/ProvisionAgentIdentity.sql
module 2/MSSQL15.SQLEXPRESS/MSSQL/Install/PerfCountersUpload.dtsx
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Templates/msdblog.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Templates/msdbdata.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Templates/modellog.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Templates/model_replicatedmaster.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Templates/model_replicatedmaster.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Templates/model_msdblog.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Templates/model_msdbdata.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Templates/model.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Templates/mastlog.ldf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Templates/master.mdf
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/StretchCodeGen.exe
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Sqlwep-uni.mof.transformed
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SqlResourceLoader.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLREPSS.DLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLPOWERSHELLSS.DLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLOLAPSS.DLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLIOSIM.EXE
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLIOSIM.COM
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLDTSSS.DLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLCMDSS.DLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLAgentMail.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLAGENTLOG.DLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLAGENT.exe.config
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLAGENT.EXE
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/SQLAAMSS.DLL
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/RsFxFt.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/3082/xplog70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/3082/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/3082/odsole70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/2070/sqlevn70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/Resources/2052/xplog70.rll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlwep-uni.mof
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqltses.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqltoolsmailutilities.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlsvc.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlservr.exe.config
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlservr.exe
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlscriptupgrade.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlscriptdowngrade.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlscm.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlresld.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlos.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlmin.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqllang.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqldk.dll
module 2/MSSQL15.SQLEXPRESS/MSSQL/Binn/sqlctr.ini
